.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/Cweij/OneDrive[[:space:]]-[[:space:]]TU[[:space:]]Eindhoven/Bachelor[[:space:]]Data[[:space:]]Science/Year[[:space:]]2/Visualization/RailroadIncidents/Railroad[[:space:]]Incidents/Railroad_Equipment_Accident_Incident.csv filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
